<div class="jumbotron text-center">
    <img src="assets/img/burger.png" alt="burger">
<h1>Welcome to BB-Burger</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 panel panel-info">
            <h2>Burger Menu</h2>
            <ul>
                {{#each sequelizedBurger}}
                    {{#unless this.devoured}}
                        <li>
                            {{this.burger_name}}

                            <form action="/api/update/{{this.id}}" method="POST">
                                <input type="hidden"
                                       name="devoured"
                                       value="{{#if this.devoured}}false{{else}}true{{/if}} ">
                                <button class="btn btn-success"  type="submit">{{#if this.devoured}}Eat
                                    Again{{else}}Devour{{/if}}</button>
                            </form>

                            <form action="/api/delete/{{this.id}}" method="POST">
                                <button class="btn btn-danger" type="submit">DELETE!</button>
                            </form>

                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-md-6 panel panel-success">
            <h2>Burgers Eaten</h2>
            <ul>
                {{#each sequelizedBurger}}
                    {{#if this.devoured}}
                        <li>
                            {{this.burger_name}}

                            <form action="/api/update/{{this.id}}" method="POST">
                                <input type="hidden"
                                       name="devoured"
                                       value="{{#if this.devoured}}false{{else}}true{{/if}} ">
                                <button class="btn btn-success"  type="submit">{{#if this.devoured}}Eat
                                    Again{{else}}Devour{{/if}}</button>
                            </form>

                            <form action="/api/delete/{{this.id}}" method="POST">
                                <button class="btn btn-danger" type="submit">DELETE!</button>
                            </form>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 panel panel-primary">
            <h2>Create a Burger</h2>
            <form class="create-update-form" action="/api/create" method="POST">
            <div class="form-group">
            <label for="bur">What burger will ya have?</label>
            <input type="text" id="bur" name="name">
            </div>
            <div class="form-group">
                <label for="devo">Want to eat it now?</label><br>
                <input type="radio" name="devoured" value="1" checked> Devoured<br>
                <input type="radio" name="devoured" value="0"> Not Devoured
            </div>
                <button type="submit" class="btn btn-warning">Add Burger</button>
            </form>
        </div>
    </div>
</div>